body {
  background-color: rgb(246, 244, 253);
}

h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(20, 19, 20);
}
h2 {
  text-align: center;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(5, 57, 9);
}
p1 {
  color: rgb(10, 34, 54);
  font-family: cursive;
}
